[submodule "ext/otatools"]
	path = ext/otatools
	url = https://github.com/LonelyFool/lpunpack_and_lpmake
	ignore = dirty
[submodule "ext/mtkclient"]
	path = ext/mtkclient
	url = https://github.com/bkerler/mtkclient
	ignore = dirty
